@font-face {
    font-family: "方正中粗雅宋_GBK";
    src: url("方正中粗雅宋_GBK.eot"); /* IE9 */
    src: url("方正中粗雅宋_GBK.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("方正中粗雅宋_GBK.woff") format("woff"), /* chrome、firefox */
    url("方正中粗雅宋_GBK.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    url("方正中粗雅宋_GBK.svg#方正中粗雅宋_GBK") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


